{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mind Hong Kong</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'intermgmt/css/calendar.css'%}">
    <link rel="stylesheet" href="{% static 'intermgmt/css/mindhk.css'%}">
   

  </head>
  <body>
    <div id="signin">
<button type="button" class="btn btn-danger" onclick="redirect1()">Sign Up</button>
<button type="button" class="btn btn-danger" onclick="redirect2()">Log In</button>

  </div>


    <div id='calendar' >

      <table style="width:100%" cellpadding="10" class="table table-striped">
          <tr>
            <th>SUN</th>
            <th>MON</th> 
            <th>TUE</th>
            <th>WED</th>
            <th>THU</th>
            <th>FRI</th>
            <th>SAT</th>

          </tr>
          <tr>
            <td>1</td>
            <td>2</td> 
            <td>3</td>
            <td>4</td>
            <td>5</td> 
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>8</td>
            <td>9</td> 
            <td>10</td>
            <td>11</td>
            <td>12</td> 
            <td>13</td>
            <td>14</td>
          </tr>
          <tr>
            <td>15</td>
            <td>16</td> 
            <td>17</td>
            <td>18</td>
            <td>19</td> 
            <td>20</td>
            <td>21</td>
          </tr>
          <tr>
            <td>22</td>
            <td>23</td> 
            <td>24</td>
            <td>25</td>
            <td>26</td> 
            <td>27</td>
            <td>28</td>
          </tr>
        </table>
    </div>
    
    </div>
<br>
<br?
<br>
    <div class="accordion" id="accordionExample">
      <div class="card" id="card1">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button id="row1" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Code For Good
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <strong>Introduction:</strong> Cooperation with JPM HK<br>
            <strong>Employees:</strong> roger @ roger@example.com, ed @ ed@example.com <br>
            <strong>Volunteers:</strong> roger_vol @ roger@example.com, ed_vol @ ed_vol@example.com <br>
            <strong>Vendors:</strong> roger_ven @ roger@example.com <br>
            <strong>Sponsors:</strong> roger_spo @ roger@example.com <br>
          </div>
          <button type="button" class="btn btn-danger" onclick="redirect()">Event Details</button>
        </div>
      </div>
      <div class="card" id="card2">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button id="row2" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Code For Great
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <strong>Introduction:</strong> Cooperation with JPM JP<br>
            <strong>Employees:</strong> roger1 @ roger@example.com, ed2 @ ed@example.com <br>
            <strong>Volunteers:</strong> roger_vol3 @ roger@example.com, ed_vol4 @ ed_vol@example.com <br>
            <strong>Vendors:</strong> roger_ven5 @ roger@example.com <br>
            <strong>Sponsors:</strong> roger_spols @ roger@example.com <br>
          </div>
          <button type="button" class="btn btn-danger" onclick="redirect()">Event Details</button>
        </div>
      </div>
      <div class="card" id="card3">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button id="row3" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Code For Supreme
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <strong>Introduction:</strong> Cooperation with JPM JP<br>
            <strong>Employees:</strong> roger1 @ roger@example.com, ed2 @ ed@example.com <br>
            <strong>Volunteers:</strong> roger_vol3 @ roger@example.com, ed_vol4 @ ed_vol@example.com <br>
            <strong>Vendors:</strong> roger_ven5 @ roger@example.com <br>
            <strong>Sponsors:</strong> roger_spols @ roger@example.com <br>
          </div>
          <button type="button" class="btn btn-danger" onclick="redirect()">Event Details</button>
        </div>
      </div>

    </div>

    <script type="text/javascript">
        $(".calendar .ul .li").click(function() {
            $.ajax({
                url: "http://localhost/events"
            }).then(success(data));
        });
        function success(data){
          // handle incoming data.
          // for entries in data:
          //     data[entries]
        };
        $(".li").click( function (e) {
            $(".li").css("background-color", "white");
            this.css("background-color", "#1abc11");
        });
        $(document).ready( function () {
            $('#table_id').DataTable();
        } );
        function redirect()
        {
          location.href = 'event/1';//"{% static 'intermgmt:event'%}";
        }
        function addRow(event, eventDetails, eventID){
            $(".accordion .card").remove();
            var accord = document.getElementById("accordionExample");
            accord.InnerHTML += "<div class=\ncard\n>";
            accord.InnerHTML += "<div class=\ncard-header\n id=\nheadingThree\n>";
            accord.InnerHTML += "<h5 class=\nmb-0\n>";
            accord.InnerHTML += "<button id=\"{eventID}\"class=\nbtn btn-link collapsed\n type=\nbutton\n data-toggle=\ncollapse\n data-target=\n#collapseThree\n aria-expanded=\nfalse\n aria-controls=\ncollapseThree\n>";
            accord.InnerHTML += "#{event}";
            accord.InnerHTML += "</button>";
            accord.InnerHTML += "</h5>";
            accord.InnerHTML += "</div>";
            accord.InnerHTML += "<div id=\ncollapseThree\n class=\ncollapse\n aria-labelledby=\nheadingThree\n data-parent=\n#accordionExample\n>";
            accord.InnerHTML += "<div class=\ncard-body\n>";
            accord.InnerHTML += "#{eventDetail}";
            accord.InnerHTML += "</div>";
            accord.InnerHTML += "</div>";
            accord.InnerHTML += "</div>";
        };



  function redirect1()
        {
          location.href = 'signup';//"{% static 'intermgmt:event'%}";
        }
    function redirect2()
        {
          location.href = 'login';//"{% static 'intermgmt:event'%}";
        }
    function redirect3()
        {
          location.href = 'balance';//"{% static 'intermgmt:event'%}";
        }

    </script>

  </body>
</html>

